scripts/flow.json
[{"id":"71a955cf.c8426c","type":"watson-speech-to-text","z":"2382cb8.6b87434","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"FUCbl5WWa5C1","payload-response":false,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":340,"y":60,"wires":[["b7c27945.a42248"]]},{"id":"64c6d446.50e14c","type":"watson-text-to-speech","z":"2382cb8.6b87434","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"FUCbl5WWa5C1","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":849,"y":195,"wires":[["c57e462d.2f86b8"]]},{"id":"b7c27945.a42248","type":"function","z":"2382cb8.6b87434","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":115,"wires":[["c6fd40d9.77e7b"]]},{"id":"c57e462d.2f86b8","type":"function","z":"2382cb8.6b87434","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1077,"y":197,"wires":[["bc113f9d.9e61f"]]},{"id":"b91b5381.2f12","type":"watson-conversation-v1","z":"2382cb8.6b87434","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":515.3333129882812,"y":1545.7500295639038,"wires":[["200cb798.f9b068"]]},{"id":"273bc645.3c161a","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.33331298828125,"y":1463.7500295639038,"wires":[["ce92dbec.004348"]]},{"id":"1c4e6b05.c11545","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.83331298828125,"y":1500.7500295639038,"wires":[["ce92dbec.004348"]]},{"id":"ce92dbec.004348","type":"function","z":"2382cb8.6b87434","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":277.83331298828125,"y":1499.7500295639038,"wires":[["b91b5381.2f12"]]},{"id":"89d1f4b6.908808","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.33331298828125,"y":1584.7500295639038,"wires":[["42df5ccc.6110a4"]]},{"id":"aedf43d3.89bed","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.83331298828125,"y":1620.7500295639038,"wires":[["42df5ccc.6110a4"]]},{"id":"42df5ccc.6110a4","type":"function","z":"2382cb8.6b87434","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":276.83331298828125,"y":1619.7500295639038,"wires":[["b91b5381.2f12"]]},{"id":"200cb798.f9b068","type":"debug","z":"2382cb8.6b87434","name":"","active":true,"console":"false","complete":"payload.output.text","x":734.3333129882812,"y":1545.7500295639038,"wires":[]},{"id":"1c5e6c7.2ab3f94","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1366.7500295639038,"wires":[["b91b5381.2f12"]]},{"id":"fe6971bf.41f69","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1402.7500295639038,"wires":[["b91b5381.2f12"]]},{"id":"c4b66e76.70575","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.83331298828125,"y":1714.7500295639038,"wires":[["1cee9c4d.464f14"]]},{"id":"1cee9c4d.464f14","type":"function","z":"2382cb8.6b87434","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":298.83331298828125,"y":1714.7500295639038,"wires":[["b91b5381.2f12"]]},{"id":"2edad1ed.d5c51e","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.83331298828125,"y":1536.7500295639038,"wires":[["ce92dbec.004348"]]},{"id":"f83e3394.1c901","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.33331298828125,"y":1656.7500295639038,"wires":[["42df5ccc.6110a4"]]},{"id":"b2046aca.0fc388","type":"inject","z":"2382cb8.6b87434","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1438.7500295639038,"wires":[["b91b5381.2f12"]]},{"id":"8a96ed7f.a17e7","type":"weather_insights","z":"2382cb8.6b87434","name":"","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"e","language":"en-US","x":825,"y":136,"wires":[["9022b905.e1a1d8"]]},{"id":"c72f96aa.6c76a8","type":"link in","z":"2382cb8.6b87434","name":"weath","links":["6294f37a.d5429c","7ac8c4e1.796bec","cab4afe4.d2fec"],"x":684,"y":69,"wires":[["899eaf9e.da472"]]},{"id":"6294f37a.d5429c","type":"link out","z":"2382cb8.6b87434","name":"weathertotone","links":["c72f96aa.6c76a8"],"x":571,"y":245,"wires":[]},{"id":"c6fd40d9.77e7b","type":"function","z":"2382cb8.6b87434","name":"set payload","func":"incoming = msg.payload;\n\nif (incoming && incoming.indexOf(\"weather\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"weather\") != -1;\n    }).join(' ');\n    msg.payload = incoming;\n} else {\n    msg.payload = incoming;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":117,"wires":[["9aee7881.881dd8"]]},{"id":"8a6253e0.a5b04","type":"microphone","z":"2382cb8.6b87434","name":"","x":110,"y":60,"wires":[["71a955cf.c8426c"]]},{"id":"cccd2df4.83b71","type":"http request","z":"2382cb8.6b87434","name":"Get lat/lng","method":"GET","ret":"txt","url":"","tls":"","x":1045,"y":62,"wires":[["51530f66.2927"]]},{"id":"899eaf9e.da472","type":"function","z":"2382cb8.6b87434","name":"Set map URL","func":"// msg.url = \"https://www.google.com/maps/place/\" + msg.payload;\n// msg.url=\"http://geocoder.maplarge.com/geocoder/json?city=\"+msg.payload;\nstate=\"texas\";\ncity=\"austin\";\n// msg.url='http://api.wunderground.com/api/421920ddc8bd7347/forecast/q/' + state + '/' + city + '.json';\nmsg.url=\"https://api.opencagedata.com/geocode/v1/json?q=\"+msg.payload+\"&key=8e392f657c86445eb20fa03b119390da\";\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":67,"wires":[["cccd2df4.83b71"]]},{"id":"9022b905.e1a1d8","type":"function","z":"2382cb8.6b87434","name":"Weather sentence read out","func":"msg.payload = \"Currently \" + msg.observation.wx_phrase + \" in \" + msg.observation.obs_name + \" with \" + msg.observation.temp + \" degrees Fahrenheit\";\nreturn msg;","outputs":1,"noerr":0,"x":1079,"y":142,"wires":[["64c6d446.50e14c"]]},{"id":"4a5d2a83.ac79e4","type":"ibmiot out","z":"2382cb8.6b87434","authentication":"apiKey","apiKey":"a1809db7.cd1dd","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"0.18.4","eventCommandType":"update","format":"json","data":"audio:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":466,"y":186,"wires":[]},{"id":"9aee7881.881dd8","type":"function","z":"2382cb8.6b87434","name":"Device payload","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"audio\" : msg.payload\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":504,"y":121,"wires":[["4a5d2a83.ac79e4","2b5107f8.992a08"]]},{"id":"2b5107f8.992a08","type":"debug","z":"2382cb8.6b87434","name":"Debug output payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":413,"y":246,"wires":[]},{"id":"80872821.c7e0c8","type":"ibmiot in","z":"2382cb8.6b87434","authentication":"apiKey","apiKey":"a1809db7.cd1dd","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"oohanne","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":96,"y":177,"wires":[["a3897f31.54b43"]]},{"id":"a3897f31.54b43","type":"function","z":"2382cb8.6b87434","name":"Return audio","func":"return {payload:msg.payload.d.audio};","outputs":1,"noerr":0,"x":164,"y":246,"wires":[["2b5107f8.992a08","6294f37a.d5429c"]]},{"id":"d06c2be6.f46e88","type":"comment","z":"2382cb8.6b87434","name":"e.g. Say: \"Austin TX\" (or other city name)","info":"","x":704,"y":318,"wires":[]},{"id":"bc113f9d.9e61f","type":"play audio","z":"2382cb8.6b87434","name":"","voice":"0","x":1292,"y":197,"wires":[]},{"id":"51530f66.2927","type":"function","z":"2382cb8.6b87434","name":"parse","func":"var obj = JSON.parse(msg.payload);\nvar coord =obj[\"results\"][0][\"geometry\"].lat+\",\"+obj[\"results\"][0][\"geometry\"].lng;\nmsg.payload = coord;\nreturn msg;","outputs":1,"noerr":0,"x":1205.388916015625,"y":60.66667175292969,"wires":[["8a96ed7f.a17e7"]]},{"id":"eb669d4c.30b6d","type":"comment","z":"2382cb8.6b87434","name":"get api key for opencage geocoding ","info":"https://opencagedata.com/api","x":859.5,"y":26,"wires":[]},{"id":"a1809db7.cd1dd","type":"ibmiot","z":"","name":"oy1um9","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
